@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-380px * 4)); /* Width of card (320px) + gap (60px) * number of original items */
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: fit-content;
  display: flex;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
